@font-face {
  font-family: 'Proxima-Nova';
  src: url('../src/utils/font/Proxima\ Nova\ Regular.otf');
 }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Proxima-Nova', sans-serif;

}

body {
  background-color: #202020;
  height: 100vh;

}

body::-webkit-scrollbar {
  display: none;
}